.df-header {
    height: var(--df-header-size);
    width: 100%;
    background: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;

    >.wrapper {
        max-width: var(--df-main-wrapper);
        align-items: center;
        margin: 0 auto;
        height: 100%;
        display: flex;
        justify-content: center;

        >.logo-wrapper {
            height: var(--df-header-size);
            padding: 16px 0;

            >.image {
                height: 100%;
            }
            
        }

        &.-has-user {
            display: grid;
            grid-template-columns: 1fr auto 1fr;
        }

        >.user {
            display: flex;
            align-items: center;
            margin-left: auto;

            >.info {
                text-align: right;

                >.name {
                    display: block;
                    font-weight: 800;
                    font-size: calc(var(--df-font-size-base) + 4px);
                    margin-bottom: 3px;
                }

                >.role {
                    display: block;
                    font-weight: 400;
                    font-size: calc(var(--df-font-size-base) + 2px);
                }
            }

            >.photo-wrapper {
                margin-left: 12px;
                height: 32px;
                width: 32px;
                border-radius: 50%;
                border: 1px solid var(--df-color-primary);
                overflow: hidden; 

                >img {
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }
}
