<div class="df-substitution">
    <mat-dialog-actions>
        <button class="close" mat-button mat-dialog-close mat-dialog-close="false">x</button>
    </mat-dialog-actions>
    <h3 class="title">Substituição</h3>

    <mat-dialog-content>
        <form [formGroup]="substitutionForm">
            <mat-label>Jogadores disponíveis</mat-label>

            <div class="substitutes">
                <mat-radio-group class="players" formControlName="playerId">
                    <mat-radio-button class="player" *ngFor="let player of players" [value]="player.playerId">{{ player.name }}</mat-radio-button>
                </mat-radio-group>
            </div>

        </form>
    </mat-dialog-content>
    <mat-dialog-actions>
        <df-button [small]='true' (click)="makeSubstitution()" text="Substituir" mat-button mat-dialog-close mat-dialog-close="true"></df-button>
    </mat-dialog-actions>
</div>