.df-substitution {
    padding: 25px;

    .close {
        cursor: pointer;
        color: var(--df-color-gray-lightest);
        text-decoration: none;
        background: var(--df-color-danger);
        border-radius: 50%;
        border: none;
    }

    >.title {
        font-size: calc(var(--df-font-size-base) + 15px);
        font-weight: 700;
        padding-bottom: 15px;
    }

    .players {
        padding: 15px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        >.player {
            padding-top: 5px;
        }
    }
}