.df-button {
    font-family: var(--df-font-family-base);
    background-color: var(--df-color-primary);
    font-size: calc(var(--df-font-size-base) + 8px);
    color: white;
    font-weight: 800;
    padding: 20px;
    border-radius: 50px;
    border: none;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.5s;
    text-decoration: none;

    &.-small {
        font-size: calc(var(--df-font-size-base) + 4px);
        font-weight: 600;
        padding: 12px 27px;
    }

    &.-light {
        color: var(--df-color-gray-dark);
        background-color: var(--df-color-gray-lightest);

        &:hover {
            background-color: var(--df-color-gray-light);
        }
    }

    &:hover {
        background-color: var(--df-color-primary-light);
    }
}