.df-match {
    background-color: var(--df-color-gray-lightest);
    img {
        padding: 0 5px;
        height: 80px;
    }

    .match-details {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        padding-top: 28px;
        padding-bottom: 5px;
        >.header {
            background-color: var(--df-color-gray-lighter);
            padding: 25px;
            display: grid;
            grid-template-columns: 1fr 1fr 80px 1fr 1fr;

            >.home-stadium {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                flex-direction: row;
                >.team {
                    font-size: calc(var(--df-font-size-base) + 30px);
                    font-weight: 700;
                    display: flex;
                }
            }
            >.stadium {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                font-size: calc(var(--df-font-size-base) + 10px);
                font-weight: 500;
            }
            >.away-teamName
             {
                display: flex;
                flex-direction: row;
                align-items: center;
                font-size: calc(var(--df-font-size-base) + 30px);
                font-weight: 700;          
             }
            >.score {
                display: flex;
                justify-content: center;
                align-items:center;
                flex-direction: column;
                font-family: 'Roboto', sans-serif;
                font-size: calc(var(--df-font-size-base) + 20px);
                font-weight: 500;
                >.add-goal {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    color: var(--df-color-danger);

                    button {
                        align-self: center;
                        font-size: calc(var(--df-font-size-base) + 6px);
                        font-weight: 300;
                        border: none;
                        background: none;
                        cursor: pointer;
                    }
                }
            }
            >.away-team {
                display: flex;
                justify-content: flex-end;
            }

            >.competition {
                font-size: calc(var(--df-font-size-base) + 15px);
                font-weight: 600;
                >.text {
                    display: flex;
                    justify-content: flex-end;
                }
            }
        }

        >.main-content {
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding: 32px;

            .title {
                font-size: calc(var(--df-font-size-base) + 20px);
                padding-bottom: 15px;
                display: flex;
                justify-content: space-between;
                
                .substitution {
                    cursor: pointer;
                }
            }

            >.lineup {
                display: flex;
                flex-direction: column;
                padding: 15px;
                padding: 15px;
                margin-top: 10px;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 20px;
                background-color: #63a355;
                border-radius: 25px;
                color: white;
                >.players {
                    >.player {
                        margin-top: 5px;
                    }
                }
                >.substitution {
                    justify-content: flex-end;
                }
            }

            >.goals {
                padding: 15px;
                margin-top: 10px;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 20px;
                background-color: white;
                >.info {
                    padding: 10px;
                    
                    >.assist {
                        margin-left: 15px;
                    }
                }
            }
        }
    }

    .finish {
        display: flex;
        justify-content: flex-end;
        padding: 15px 35px;
        span {
            font-size: calc(var(--df-font-size-base) + 48px);
            cursor: pointer;
            &.finished {
                color: green;
            }
        
        }
    }
}