.df-create-player {
    display: flex;
    justify-content: center;

    .title {
        padding-top: 5px;
        font-size: calc(var(--df-font-size-base) + 30px);
        font-weight: 700;
    }

    .subtitle {
        padding-top: 5px;
        font-size: calc(var(--df-font-size-base) + 10px)
    }

    form {
        display: flex;
        flex-direction: column;
    }
}