<div class="df-home">
    <df-wrapper type="one-col">

        <div class="cards">
            <mat-card class="card" (click)="redirectTo('matches')">
                Partidas
                <span class="icon material-icons">
                    sports_soccer
                </span>
            </mat-card>
    
            <mat-card class="card" (click)="redirectTo('players')">
                Jogadores
                <span class="icon material-icons">
                    groups
                </span>
            </mat-card>
        </div>

    </df-wrapper>
</div>