.df-home {

    .team {
        padding-top: 32px;
        >.logo-name {
            display: flex;
            align-items: center;
            flex-direction: column;
            >.name {
                font-size: calc(var(--df-font-size-base) + 20px);
                font-weight: 800;
            }
            img {
                height: 80px;
                width: 80px;
            }
        }
    }
    .cards {
        display: flex;
        align-items: center;
        justify-content: center;

        .card {
            width: 200px;
            height: 150px;
            background-color: var(--df-color-primary);
            color: var(--df-color-gray-lightest);
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin: 30px;
            
            >.icon {
                    display: block;
                    font-size: calc(var(--df-font-size-base) + 50px);
                }
        }
    }

}