.df-player-list {

    .title-button {
        margin-top: 70px;
        display: flex;
        width: 100%;
        justify-content: space-between;

        >.title {
            font-size: calc(var(--df-font-size-base) + 30px);
            font-weight: 700;
        }
    }

    .table-wrapper {
        margin-top: 32px;
    }

    .df-table {
        margin-top: 10px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        background-color: white;
        padding-top: 28px;
        padding-bottom: 5px;

        >.head {
            font-size: calc(var(--df-font-size-base) + 6px);
            font-weight: 600;
            color: var(--df-color-gray-light);

            >.row {
                display: grid;
                grid-template-columns: 50px 3fr 1fr 1fr 1fr 1fr;
                padding-left: 32px;
                padding-right: 32px;
                align-items: center;
            }
        }

        >.body {
            >.row {
                display: grid;
                padding: 24px 32px;
                align-items: center;
                grid-template-columns: 50px 3fr 1fr 1fr 1fr 1fr;
                border-bottom: 1px solid var(--df-color-gray-lighter);

                >.name {

                    >.value {
                        font-weight: 600;
                        margin-bottom: 8px;
                    }

                }

                .position {
                    border-radius: 10%;
                    padding: 5px;
                    display: inline;
                    color: white;

                    &.GOL {

                        background-color: #c92a2a;
                    }

                    &.LE, 
                    &.ZGE, 
                    &.ZAG, 
                    &.ZGD, 
                    &.LD,
                    &.ADE,
                    &.ADD {
                        background-color:#d95c0f;
                    }

                    &.VOL,
                    &.VE,
                    &.ME,
                    &.MCE,
                    &.MC,
                    &.MCD,
                    &.MD,
                    &.MEE,
                    &.MEI,
                    &.MED,
                    &.MAE,
                    &.MAD {
                        background-color: #2b8a3e;
                    }

                    &.PE,
                    &.SA,
                    &.PD,
                    &.ATE,
                    &.ATA,
                    &.ATD {
                        background-color: #669EFF;
                    }
                }
                

                >.actions {
                    >.edit {
                        color: var(--df-color-primary);
                        margin-right: 5px;
                        cursor: pointer;
                        font-size: 26px;
                    }

                    .delete {
                        color: var(--df-color-danger);
                        cursor: pointer;
                        font-size: 26px;
                    }
                }
            }

            :first-child {
                padding-top: 15px;
            }
            
            :last-child {
                border-bottom: none;
            }
        }
    }
}