<div class="df-matchlist">
    <df-wrapper [type]="'one-col'" back="home">

        <div class="table-wrapper">

            <div class="title-button">
                <h1 class="title">Partidas</h1>
                <df-button text="Nova partida" (click)="openDialog()"></df-button>
            </div>

            <df-loader text="Carregando partidas" *ngIf="isLoadingTable === true"></df-loader>

            <div class="df-table" *ngIf="isLoadingTable === false">

                <div class="head">
                    <div class="row">
                        <div>Adversário</div>
                        <div>Em casa</div>
                        <div>Placar</div>
                        <div>Ações</div>
                    </div>
                </div>

                <div class="body" id="table-body">

                    <div class="row" *ngFor="let match of matchList">

                        <div class="name-competition">
                            <h6 class="name">{{ match.opponentName }}</h6>
                            <p class="competiton">{{ match.competition }}</p>
                        </div>

                        <div class="ishome">{{ match.isHome }}</div>

                        <div class="score">{{ match.score }}</div>

                        <div class="actions">
                            <span class="edit material-icons"
                                >edit</span>
                            <span class="delete material-icons"
                                (click)="deleteMatch(match.matchId)">delete_outline</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </df-wrapper>
</div>